.chat-icon{
    position: fixed;
    right: 5rem;
    bottom: 0;
    font-size: 4rem;
    z-index: 100;
}
.chatbox{
    position: fixed;
    bottom: 6rem;
    right: 5rem;
    width: 20rem;
    z-index: 100;
    background: white;
    height: 75vh;
    transition: all 0.4s ease-out;
}
.chatbox.active{
    transform: scaleY(1);
}